* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;/*隐藏滚轮*/
}

a:link, a:visited, a:hover, a:active a:focus {
  text-decoration:none;
}
